@charset "utf-8";
/* CSS Document */



body,div,ul,li,dl,dt,dd,table,td,tr{ margin:0px; padding:0px;}
   
	/*首页*/   
.all{ width:980px;height:980px; margin:0px auto;}
/*头部*/
.head{height:150px; background:url(../images/h_bg.jpg) no-repeat;
background-position:-22px;}
.logo{ width:430px; height:95px;float:left;}

.ding{ width:450px; height:40px;float:right;margin-top:10px; }
.ding ul li{ float:left; list-style:none; line-height:36px;}
.ding a{ text-decoration:none; color:#000;}
.c{width:50px; height:25px;font-size:7px;text-align:center; }
.t1{width:30px; height:30px; background:url(../images/icon.gif) no-repeat 5px 3px;}
.t2{ width:28px; height:30px;background:url(../images/icon.gif) no-repeat -42px 3px;}
.t3{ width:28px; height:30px;background:url(../images/icon.gif) no-repeat -86px 3px;}
.t4{ width:28px; height:30px;background:url(../images/icon.gif) no-repeat -128px 6px;}

.hello{ width:450px; height:50px;float:right;  text-align:center; font-size:15px;
line-height:75px;}
 
.dao{ width:980px; height:35px;clear:both;}
.dao ul li{ list-style:none; float:left; width:84PX; height:32px; font-weight:bold; font-size:16px; text-align:center;}
.dao ul li a{ text-decoration:none; color:#000;}
.dao a:hover{ background:url(../images/nav_bg.gif);}
/*中间*/
.zhong{height:645px; background:url(../images/bg.gif) no-repeat;}

.zuo{ width:200px; height:100%; float:left;}
li{font-size:12px;list-style:none;line-height:25px;}
.menu-class{font:bold 14px 宋体;color:#ff7300;line-height:35px;
padding-left:5px;}
.menu-li{color:#000;float:left;width:62px; height:22.5px; padding-left:4.5px;}  	
.space{height:35px;}

.xin{ width:540px; height:645px; float:left; margin-left:5px;}
.x1{ height:195px ;background:url(../images/ad-01.jpg) no-repeat 7px 0px;}
.x2{ height:455px;}
.s{ float:left; text-align:center;}
.w{ font-size:10px;  width:170px; margin-left:7px; margin-top:10px;}
.q1{ border:1px #999999 solid; width:99px; margin-left:45px; margin-top:50px;}
.q2{ border:1px #999999 solid; width:87px; margin-left:45px; margin-top:50px;}
.q3{ border:1px #999999 solid; width:120px; margin-left:30px; margin-top:50px;}
.q4{ border:1px #999999 solid; width:110px; margin-left:40px; margin-top:10px;}
.q5{ border:1px #999999 solid; width:110px; margin-left:40px; margin-top:10px;}
.q6{ border:1px #999999 solid; width:130px; margin-left:30px; margin-top:10px;}
.q7{ border:1px #999999 solid; width:110px; margin-left:40px; margin-top:10px;}
.q8{ border:1px #999999 solid; width:110px; margin-left:40px; margin-top:10px;}
.q9{ border:1px #999999 solid; width:140px; margin-left:30px; margin-top:10px;}



.you{ width:235px; height:645px;  float:left; }
.y1{ height:135px; }
.y2{ height:300px;}
.e{ text-align:center; float:left;}
.r1{ float:left; font-size:10px;margin-top:75px; margin-left:5px;}
.e1{ width:60px; border:1px #999999 solid; margin-left:20px; margin-top:60px; float:left;}

.e2{ width:60px; border:1px #999999 solid; margin-left:20px; margin-top:10px; float:left;}
.r2{ float:left; font-size:10px;margin-top:25px; margin-left:5px;}

.e3{ width:60px; border:1px #999999 solid; margin-left:20px; margin-top:10px; float:left;}
.r3{ float:left; font-size:10px;margin-top:25px; margin-left:5px;}

.e4{ width:60px; border:1px #999999 solid; margin-left:20px; margin-top:10px; float:left;}
.r4{ float:left; font-size:10px;margin-top:25px; margin-left:5px;}

.y3{ height:210px;}

/*底部*/
.di p a{text-decoration:none; color:#000;}
.foot{ width:700px; height:20px; margin:0px auto;}
.f1{ float:left; font-size:13px;}

	/*注册*/
#t1{ height:645px; width:980px; margin:auto; background:url(../images/reg_bg.gif) no-repeat; margin-top:10px;}
#t2{ height:45%; margin:auto;}
#t3{ height:40%; margin:auto;}

	/*登陆*/
#denglu{ width:980px; height:350px; background:url(images/login_bg.gif) no-repeat; margin:auto; }
#d1{ width:980px; height:150px;}
#d2{ width:490px; margin:auto; font-size:12px;  padding-left:50px;}
.tab{ width:490px; height:300px; font-size:12px; }
.tab a{text-decoration:none;}

#wei{ width:300px; height:100px; background-color:#F96; margin: 0px auto; padding-left:60px;}
#li1{ height:5px;list-style:none;}
#li2{ width:230px; height:35px; background-color: #CCC;text-align:center;list-style:none;}
#li3{ height:5px;list-style:none;}
#li4{ width:230px; height:35px; background-color: #CCC;text-align:center;list-style:none;}

	/*倒数第二*/
zjd{ margin:0px; padding:0px;}
#zjd{ height:645px;width:980px; margin:0px auto; background:url(../images/catlist_bg.gif) no-repeat; }
#al{ border:}
#zjda{ margin-left:80px; margin-top:-10px;}
#zj1{ line-height:130px;}


	/*最后*/
#main{ width:980px; height:435px; margin:0px auto;}
#my{ float:left;}
#mz{ float:left; padding-left:60px;}
 
#mz td{ text-align:left;}